# python
- 컴퓨터의 CPU, RAM, SSD를 활용하기 위해서 학습
1. 변수선언 : RAM 사용 문법 : 식벌자(저장공간을 구분하는 문자열) : PEP20, PEP8(autopep8, flake8)
2. 데이터타입 : RAM 효율적 사용 문법 : iut, float, bool, str, list, tuple, dict, 
3. 연산자 : CPU 사용 문법 : 산술, 비교, 논리, 할당, 멤버 ...
4. 조건문, 반복문, : if, elif, else : while, for, break, continue, range() ...
5. 함수 : 반복 사용되는 코드를 묶어서 코드 작성 실행 : def, return, scope(global), lambda ...
6. 클래스 : 변수, 함수를 묶어서 코드 작성 실행 : 객체지향 구현 : class, self, special, methods(생성자)
7. 모듈 : 변수, 함수, 클래스를 파일로 묶어서 코드 작성 실행 : 확장자 .py
8. 패키지 : 여러개의 모듈을 디렉토리로 묶어서 관리 : 버전 정보 : import, from, as
9. 입출력 : SSD 사용 문법 : RAM(object) > SSD(file), SSD(file) > RAM(object) : pickle

In [ ]:
#import this

# Class
- 변수, 함수를 묶어서 코드 작성 실행
- 객체지향 구현 : 실제세계를 모델링하여 프로그램을 개발하는 개발 방법론 : 협업이 용이함
- 함수사용 : 함수선언(코드작성) > 함수호출(코드실행)
- 클래스사용
    - 클래스선언(코드작성) > 객체생성(메모리사용 : ) > 메서드실행(코드실행)
    - ex) 설계도작성 > 제품생산 > 제품사용
    - 메서드 : 클래스안에 선언되는 함수

In [1]:
# 1. 클래스선언 : 코드작성
# 예금계좌 : Account : balance, deposit(), withdraw()
class Account:
    balance = 0
    def deposit(self, amount):
        self.balance += amount
    
    def withdraw(self, amount):
        self.balance -= amount

In [3]:
# 2. 객체생성 : 메모리사용
acc1 = Account()
acc2 = Account()

In [6]:
# dir() : 객체 안에 들어있는 변수, 함수 목록 출력
dir(acc1)[-3:], dir(acc2)[-3:]

(['balance', 'deposit', 'withdraw'], ['balance', 'deposit', 'withdraw'])

In [8]:
acc1.balance = 1000

In [9]:
acc1.balance, acc2.balance

(1000, 0)

In [10]:
# 3. 메서드실행 : 코드실행
acc1.balance, acc2.balance

(1000, 0)

In [11]:
acc1.withdraw(600)
acc2.deposit(3000)

0

In [12]:
acc1.balance, acc2.balance

(400, 3000)

In [ ]:
#pandas DataFrame
# 클래스선언(다른사람) > 객체생성(사용1) . 메서드호출(사용2)

In [14]:
# 1. 클래스선언 : 다른 ㅏㅅ람이 만든 클래스 가져옴
import pandas as pd

In [28]:
# 2. 객체생성
df = pd.DataFrame({'id' : list('123'), 'name' : list('ABC')})
df

  id name
0  1    A
1  2    B
2  3    C

In [29]:
# 3. 메서드호출
# dir(df)
# help(df.sum)
df.sum()

id      123
name    ABC
dtype: object

In [30]:
df.T

      0  1  2
id    1  2  3
name  A  B  C

In [ ]:
# 변수, 함수는 둘다 객체입니다.
# 클래스는 사용자정의 데이터타입 입니다.

In [16]:
# acc 객체의 클래스 : Account : balance, withdraw(), diposit()
# acc 객체 데이터타입 : Account
# > 클래스는 데이터타입 입니다.
# Account  클래스는 우리가 만듦 : 사용자정의
# > 클래스는 사용자정의 데이터타입 입니다.
acc = Account()
type(acc)

__main__.Account

In [17]:
# data1 객체 데이터타입 : str
# data1 객체 클래스 : str : upper(), lower(), join() ...
data1 = 'python'
type(data1)

str

In [23]:
dir(data1)[-3:]

['translate', 'upper', 'zfill']

In [24]:
help(data1.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [21]:
# data2 객체 데이터타입, 클래스 : list
data2 = [1, 3, 2]
type(data2)

list

In [25]:
dir(data2)[-3:]

['remove', 'reverse', 'sort']

In [26]:
help(data2.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [ ]:
# > 객체는 어떤 데이터타입(클래스)인지에 따라서 사용가능한 변수, 메서드가 달라집니다.

In [20]:
import numpy as np
arr = np.array([1, 2, 3])
type(arr), arr

(numpy.ndarray, array([1, 2, 3]))

In [37]:
%reset

In [38]:
# 변수, 함수는 둘다 객체입니다.
data = 1

In [39]:
def plus():
    return 1 + 2

In [40]:
type(data), type(plus)

(int, function)

In [41]:
# 현재 선언된 객체 목록 출력
%whos

Variable   Type        Data/Info
--------------------------------
data       int         1
plus       function    <function plus at 0x000001E767C7D940>

In [ ]:
# special methods 
# - 특별한 기능을 하는 메서드
# - 앞뒤로 __가 붙은 메서드
# - 대표적으로 생성자 메서드

In [ ]:
# 생성자 메서드 : __init__(self)
# - 특별한 기능 : 객체 생성시 실행되는 메서드

In [54]:
# 1. 클래스선언
class Account:
    def __init__(self, balance):
        self.balance = balance
    def deposit(self, amount):
        self.balance += amount
    
    def withdraw(self, amount):
        self.balance -= amount

In [57]:
# 객체생성 : 메모리사용 : 원자재사용
acc = Account(1000)

In [58]:
# 메서드호출
acc.deposit(1000)

In [59]:
acc.balance

2000

In [60]:
# mangling(private variable), getter, setter 내용을 같이

In [61]:
d1, d2 = 1, 2
d3, d4 = '3', '4'

In [63]:
type(d1), type(d2), type(d3), type(d4)

(int, int, str, str)

In [66]:
# 데이터 타입이 다르면 같은 연산자라도 다르게 연산 수행됩니다.
d1 + d2, d3 + d4

(3, '34')

In [68]:
# __add__ : + 연산자에 대한 코드 정의
#dir(d1)
d1.__add__(d2) # int 클래스의 __add__() 매서드 호출

3

In [69]:
#dir(d3)
d3.__add__(d4) # str 클래스의 __add__() 매서드 호출

'34'

In [76]:
class Number:
    def __init__(self, data):
        self.data = data
    def __add__(self, obj):
        self.data -= obj.data
        return self.data

In [77]:
num1 = Number(3)
num2 = Number(2)

In [78]:
num1 + num2

1